.DS_Store
dist/
release/
backup/
bin/
db/
b-ui
web/html
main
tmp
.sync*
*.tar.gz
src/frontend/node_modules
src/frontend/.vite

# local env files
.env.local
.env.*.local

# Log files
*.log*
.cache

# Editor directories and files
.idea
.vscode
