[Unit]
Description=b-ui Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/b-ui/
ExecStart=/usr/local/b-ui/b-ui
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
